{%extends "base.html"%}

{% block titulo %} login {% endblock %}

{% block contenido %} 

<div class="container">
    <h2>Login</h2>
    <form method="post">
    {% csrf_token %} 
    {{ form.as_p }}  
    <button type="submit" class="btn btn-primary">Iniciar sesion</button> 
    </form>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

{% endblock %}